.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  position: relative;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.header .container .logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .main-nav li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container .main-nav li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  top: 0;
  left: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container .main-nav li > a:hover {
  color: #2196f3;
  background-color: #fafafa;
}

.header .container .main-nav li > a:hover::before {
  left: 0;
}

@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
  }
  .header .container .main-nav {
    margin: auto;
  }
  .header .container .main-nav li > a {
    padding: 10px;
    font-size: 13px;
    height: 40px;
  }
}

.landing {
  position: relative;
}

.landing .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  height: 100%;
  width: 100%;
  background-color: #ececec;
  z-index: -1;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}

.landing .container .image img {
  position: relative;
  width: 600px;
  -webkit-animation: up-and-down 5s linear infinite;
          animation: up-and-down 5s linear infinite;
}

.landing .go-down {
  color: #2196f3;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing .go-down:hover {
  color: #1787e0;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
  .landing .text p {
    margin: 10px auto;
  }
  .landing .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }
}

@-webkit-keyframes up-and-downe {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes up-and-downe {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

body {
  height: 1000px;
}
/*# sourceMappingURL=main.css.map */