doctype 
html 
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Deer Template
		link(rel="icon" href="https://i.suar.me/q7dB1/l")
		//- Normalize & Global rules
		link(rel="stylesheet" href="css/first.css")
		//- Font Awesome
		link(rel="stylesheet" href="css/all.min.css")
		//- Google fonts
			font-family: 'Cairo', sans-serif;
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap' rel='stylesheet')

		//- Main css file
		link(rel="stylesheet" href="css/main.css")
	body
		#header.header
			.container 
				a(href="#" class="logo") Deer 
				ul.main-nav
					li 
						a(href="#articles") Articles
					li 
						a(href="#gallery") Gallery
					li 
						a(href="#features") Features 
					li 
						a(href="#" class="target") Other Links
						.mega-menu 
							.image 
								img(src="images/megamenu.png")
							ul.links 
								li 
									a(href="#testimonials") 
										i(class="far fa-comments fa-fw")
										| Testimonials
								li 
									a(href="#team") 
										i(class="far fa-user fa-fw")
										| Team Members
								li 
									a(href="#services") 
										i(class="far fa-comments fa-fw")
										| Services
								li 
									a(href="#our-skills") 
										i(class="far fa-comments fa-fw")
										| Our Skills
								li 
									a(href="#work-steps") 
										i(class="far fa-comments fa-fw")
										| How It Works
							ul.links 
								li 
									a(href="#events") 
										i(class="far fa-calendar-alt fa-fw")
										| Events
								li 
									a(href="#pricing") 
										i(class="fas fa-server fa-fw")
										| Pricing Plans
								li 
									a(href="#videos") 
										i(class="far fa-play-circle fa-fw")
										| Top Videos
								li 
									a(href="#stats") 
										i(class="far fa-chart-bar fa-fw")
										| Stats
								li 
									a(href="#discount") 
										i(class="fas fa-percent fa-fw")
										| Request A Discount
		.landing 
			.container 
				.text
					h1 Welcome, To Deer World
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
				.image 
					img(src="images/landing-image.png")
			a(href="#articles", class ="go-down") 
				i.fas.fa-angle-double-down.fa-2x
		.articles#articles 
			h2.main-title ARTICLES		
			.container 
				.box 
					img(src="images/cat-01.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-02.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-03.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-04.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-05.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-06.webp")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-07.jpg")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
				.box 
					img(src="images/cat-08.webp")
					.content 
						h3 Test Title
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
					.info
						a(href="#") Red More 
						i(class="fas fa-long-arrow-alt-right")
		section.spikes
		.gallery#gallery 
			h2.main-title GALLERY
			.container 
				.box 
					.image 
						img(src="images/gallery-01.png")
				.box 
					.image 
						img(src="images/gallery-02.png")
				.box 
					.image 
						img(src="images/gallery-03.jpg")
				.box 
					.image 
						img(src="images/gallery-04.png")
				.box 
					.image 
						img(src="images/gallery-05.jpg")
				.box 
					.image 
						img(src="images/gallery-06.png")
		.features#features
			h2.main-title Features
			.container 
				.box(class="quality")
					.image-holder 
						img(src="images/features-01.jpg")
					h2 Quality
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
					a(href="#") More 
				.box(class="time")
					.image-holder 
						img(src="images/features-02.jpg")
					h2 Quality
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
					a(href="#") More 
				.box(class="paisson")
					.image-holder 
						img(src="images/features-03.jpg")
					h2 Quality
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum hic veniam eligendi minima
					a(href="#") More 
		.testimonials#testimonials
			h2.main-title Testimonials
			.container 
				.box
					img(src="images/avatar-01.png")
					h3 Rosie Heller
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.far.fa-star
						i.far.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
				.box
					img(src="images/avatar-02.png")
					h3 Giles Hermiston
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.far.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
				.box
					img(src="images/avatar-03.png")
					h3 Elwyn Jones
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.far.fa-star
						i.far.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
				.box
					img(src="images/avatar-04.png")
					h3 Timmothy Schinner
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.far.fa-star
						i.far.fa-star
						i.far.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
				.box
					img(src="images/avatar-05.png")
					h3 Talia Cronin
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
				.box
					img(src="images/avatar-06.png")
					h3 Gunner Rodriguez
					span.title Full Stack Developer
					.rate
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
						i.filled.fas.fa-star
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et reiciendis voluptatum, amet est natus quaerat ducimus
		.team#team 
			h2.main-title TEAM MEMBERS
			.container 
				.box
					.data 
						img(src="images/team-01.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-02.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-03.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-04.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/avatar-05.png")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-06.png")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-07.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
				.box
					.data 
						img(src="images/team-08.jpg")
						.social
							a(href='#')
								i.fab.fa-facebook-f
							a(href='#')
								i.fab.fa-twitter
							a(href='#')
								i.fab.fa-linkedin-in
							a(href='#')
								i.fab.fa-youtube
					.info 
						h3 Name
						p Simple Short Description
		.services#services 
			h2.main-title SERVICES
			.container 
				.box
					i.fas.fa-user-shield.fa-4x
					h3 Security
					.info
						a(href='#') Details
				.box
					i.fas.fa-tools.fa-4x
					h3 Fixing Issues
					.info
						a(href='#') Details
				.box
					i.fas.fa-map-marked-alt.fa-4x
					h3 Location
					.info
						a(href='#') Details
				.box
					i.fas.fa-laptop-code.fa-4x
					h3 Coding
					.info
						a(href='#') Details
				.box
					i.fas.fa-palette.fa-4x
					h3 Security
					.info
						a(href='#') Design
				.box
					i.fas.fa-bullhorn.fa-4x
					h3 Marketing
					.info
						a(href='#') Details
		.our-skills#our-skills 
			h2.main-title OUR SKILLS
			.container 
				img(src="images/skills.png")
				.skills 
					.skill
						h3 HTML 
							span 80%
						.the-progress
							span(style="width:80%;")
					.skill
						h3 CSS 
							span 85%
						.the-progress
							span(style="width:85%;")
					.skill
						h3 JavaScript 
							span 70%
						.the-progress
							span(style="width:70%;")
					.skill
						h3 Python 
							span 80%
						.the-progress
							span(style="width:80%;")
		.work-steps#work-steps
			h2.main-title HOW IT WORKS?
			.container 
				img(src="images/work-steps.png" class="image")
				.info 
					.box
						img(src="images/work-steps-1.png")
						.content
							h3 Business Analysis
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel
					.box
						img(src="images/work-steps-2.png")
						.content
							h3 Architecture
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel
					.box
						img(src="images/work-steps-3.png")
						.content
							h3 Developement
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt obcaecati quisquam quis laborum recusandae debitis vel
		.events#events
			h2.main-title LATEST EVENTS
			.container 
				img(src="images/events.png")
				.info
					.time
						.unit 
							span 15
							span Days
						.unit 
							span 08
							span Hours
						.unit 
							span 45
							span Minutes
						.unit 
							span 55
							span Seconds
					h2.title Tech Masters Event 2021
					p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vero tenetur doloremque iusto ut adipisci quam ratione aliquam excepturi nulla in harum, veritatis porro
				.subscribe
					form(action="")
						input(type="email" placeholder="Enter your email")
						input(type="submit" value="Subscribe")
		.pricing#pricing 
			h2.main-title PRICING PLANS
			.container
				.box 
					h3.title Basic
					img(src="/images/hosting-basic.png")
					.price 
						span.amount 15$
						span.time Per Month
					ul
						li 10GB HDD Space
						li 5 Email Addresses
						li 2 Subdomains
						li 4 Databases
						li Basic Support
					a(href="#") Choose Plan 
				.box.popular
					.label Most Popular
					h3.title Advanced
					img(src="/images/hosting-basic.png")
					.price 
						span.amount 15$
						span.time Per Month
					ul
						li 20GB HDD Space
						li 10 Email Addresses
						li 5 Subdomains
						li 8 Databases
						li Advanced Support
					a(href="#") Choose Plan 
				.box 
					h3.title Professional
					img(src="/images/hosting-basic.png")
					.price 
						span.amount 15$
						span.time Per Month
					ul
						li 50GB HDD Space
						li 20 Email Addresses
						li 10 Subdomains
						li 20 Databases
						li Professional Support
					a(href="#") Choose Plan 
		.videos#videos 
			h2.main-title TOP VIDEOS
			.container 
				.holder 
					.list
						.name
							| Top Videos
							i(class="fas fa-random")
						ul
							li
								| How To Create Sub Domain
								span 05:18
							li
								| Playing With The DNS 
								span 03:18
							li
								| Everything About The Virtual Hosts 
								span 05:25
							li
								| How To Monitor Your Website 
								span 04:16
							li
								| Uncharted Beating The Last Boss 
								span 07:48
							li
								| Ys Oath In Felghana Overview 
								span 03:12
							li
								| Ys Series All Games Ending 
								span 08:10
					.preview
						img(src="images/video-preview.jpg")
						.info
							| Everything About The Virtual Hosts
		.stats#stats
			h2 Our Awesome Stats
			.container 
				.box
					i.far.fa-user.fa-2x.fa-fw
					span.number 300
					span.text Clients
				.box
					i.fas.fa-code.fa-2x.fa-fw
					span.number 400
					span.text Projects
				.box
					i.fas.fa-globe-asia.fa-2x.fa-fw
					span.number 12
					span.text Countries
				.box
					i.far.fa-money-bill-alt.fa-2x.fa-fw
					span.number 500K
					span.text Money
		.discount#discount 
			.image
				.content 
					h2 We Have A Discount
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi asperiores consectetur, recusandae ratione provident necessitatibus, cumque delectus commodi fuga praesentium beatae. Totam vel similique laborum dicta aperiam odit doloribus corporis.
					img(src="images/discount.png")
			.form 
				.content 
					h2 Request A Discount
					form(action='#')
						input.input(type='text' placeholder='Your Name' name='name')
						input.input(type='email' placeholder='Your Email' name='email')
						input.input(type='text' placeholder='Your Phone' name='mobile')
						textarea.input(placeholder='Tell Us About Your Needs' name='message')
						input(type='submit' value='Send')
		.footer 
			.container 
				.box 
					h3 Deer 
					ul.social
						li
							a.facebook(href='#')
								i.fab.fa-facebook-f
						li
							a.twitter(href='#')
								i.fab.fa-twitter
						li
							a.youtube(href='#')
								i.fab.fa-youtube
					p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus nulla rem, dignissimos iste aspernatur
				.box
					ul.links
						li
							a(href='#') Important Link 1
						li
							a(href='#') Important Link 2
						li
							a(href='#') Important Link 3
						li
							a(href='#') Important Link 4
						li
							a(href='#') Important Link 5
				.box 
					.line
						i.fas.fa-map-marker-alt.fa-fw
						.info Egypt, Giza, Inside The Sphinx, Room Number 220
					.line
						i.far.fa-clock.fa-fw
						.info Business Hours: From 10:00 To 18:00
					.line
						i.fas.fa-phone-volume.fa-fw
						.info
							span +20123456789
							span +20198765432
				.box(class="footer-gallery")
					img(src='images/gallery-01.png')
					img(src='images/gallery-02.png')
					img(src='images/gallery-03.jpg')
					img(src='images/gallery-04.png')
					img(src='images/gallery-05.jpg')
					img(src='images/gallery-06.png')
			p.copyright © 2022 Deer All Right Reserved		
		//- Scripts
		script(src="js/main.js") 