/*
	LAND 1
*/
body {
  background: #FFFFFF;
}
body.land2 {
  padding-top: 60px;
}
.head {
  background: #644D71;
  color: #fff;
  padding-top: 0px;
  margin-top: -15px;
}
.body {
  background: #fff;
  border-left: 2px solid #B23C88;
  border-right: 2px solid #B23C88;
  border-bottom: 2px solid #B23C88;
  padding-top: 10px;
  padding-bottom: 10px;
}
.body p {
  font-size: 16px;
}
.pics {
  padding: 0px;
}
.pics img {
  margin-bottom: 10px;
  margin-right: 5px;
}
.rules {
  background: #644D71;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: -10px;
}
.rules h2 {
  text-align: center;
}
.rules p span {
  color: #7BD1AA;
}
.rules a {
  color: #7BD1AA;
  text-decoration: underline;
}
.rules a.btn {
  color: #fff;
  text-decoration: none;
}
/*
	LAND 2
*/
.left-stuff {
  background: #fff;
  border: 2px solid #B23C88;
  border-radius: 5px;
}
.left-stuff .maps {
  padding-top: 10px;
  padding-bottom: 10px;
}
#mapContainer {
  height: 400px;
  width: 335px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.right-stuff h1 {
  color: #FF0000;
  margin-top: 0px;
}
.right-stuff p {
  font-size: 18px;
}
.right-stuff .questions h2 {
  color: #B23C88;
  display: inline;
  font-size: 28px;
}
.right-stuff .questions p {
  font-size: 25px;
}
.right-stuff .questions .question:first-child {
  display: block;
}
.right-stuff .questions .question {
  display: none;
}
.right-stuff .buttons a {
  font-size: 30px;
}
.right-stuff .loaders .loader {
  display: none;
}
.right-stuff .loaders .loader h2 {
  font-size: 18px;
  color: #B23C88;
}
.right-stuff .loaders .loader a.btn {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.right-stuff .loaders .loader ul {
  margin-top: 10px;
  margin-left: -35px;
}
.right-stuff .loaders .loader ul li {
  list-style-type: none;
  background: url('../check.png') left top no-repeat;
  padding-left: 20px;
}
.right-stuff .loaders .loader ul.nobg li {
  background: none;
}
